
.alert-md .alert-wrapper{
	max-width:80% !important;
	width:80% !important;


}

ion-content {
	background: url('/assets/paws.jpg');
	background-size:30%;
	background-repeat: no-repeat;
	background-position:95% 98%
}

.item-md{
	background: transparent !important;
}

