
.alert-md .alert-wrapper{
	max-width:80% !important;
	width:80% !important;


}

.ion-app.md{
	background-color:#333 !important;
}


.alert-radio-group{
	max-height:60% !important;
}


ion-content {
	background: url('/assets/paws.jpg');
	background-size:30%;
	background-repeat: no-repeat;
	background-position:95% 98%
}

.item-md{
	background: transparent !important;
}

